<div>
  <app-tabs-manager [titles]="[helloWorldTab] | concatArray: currentConditionsNames()" (tabIndexSelected)="index.set($event)"
    [templateContent]="index() === 0 ? text2Ref : conditionTemplate" (tabIndexRemove)="removeIndex($event)">
  </app-tabs-manager>
</div>
<ng-template #conditionTemplate>
  <div class="well flex justify-between" (click)="showForecast(currentCondition().zip)">
    <div>
      <!--<h3>{{currentCondition().data.name}} ({{currentCondition().zip}})</h3>-->
      <h4>Current conditions: {{currentCondition().data.weather[0].main}}</h4>
      <h4>Temperatures today:</h4>
      <p>
        Current {{currentCondition().data.main.temp | number:'.0-0'}}
        - Max {{currentCondition().data.main.temp_max | number:'.0-0'}}
        - Min {{currentCondition().data.main.temp_min | number:'.0-0'}}
      </p>
      <p>
        <a [routerLink]="['/forecast', currentCondition().zip]" >Show 5-day forecast for {{currentCondition().data.name}}</a>
      </p>
    </div>
    <div>
      <img [src]="weatherService.getWeatherIcon(currentCondition().data.weather[0].id)">
    </div>
 </div>
</ng-template>
<ng-template #text2Ref>
  <div class="flex justify-center items-center p-5 text-2xl">
    Hello world! Test 2
  </div>
</ng-template>
