<div class="well">
  <h2>Enter a zipcode:</h2>
  <input type="text" #zipcode placeholder="Zipcode" class="form-control" (keyup.enter)="addLocation(zipcode.value)">
  <br>
  <button class="btn btn-primary" (click)="addLocation(zipcode.value)" >
    Add location
  </button>
</div>
