<div class="tabs">
    @for (titleConfig of titles; track titleConfig; let index = $index) {
        <div class="tab-title" [class.active]="indexSelected() === index">
            <span (click)="tabIndexSelected.emit(index); indexSelected.set(index)">
                {{titleConfig.title}}
            </span>
            <a class="close-tab" (click)="removeTab(index)" *ngIf="titleConfig.hasRemove">
                x
            </a>
        </div>
    }
</div>
<div class="tab-content">
    <ng-template [ngTemplateOutlet]="templateContent"></ng-template>
</div>
