:host() {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    overflow-x: auto;
}

.tab-title {
    background-color: #5b7aab;
    color: white;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.tab-title.active {
    background-color: #5e8dd9;
}

.tab-title:not(:first-child) {
    margin-left: 3px;
}

.close-tab {
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
}
